@import 'variables';

@mixin borderx($color) {
    border: solid $color 5px;
}

#menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;



}

@include fade-in(fade-item-card, 0, 1, 0, 0);

.item-card{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background: (rgba(38,38,38,0.8));
    margin: 1rem 1rem;
    padding-bottom: 3rem;
    animation: fade-item-card 2s;

    .item-img{
        align-self: center;
        width: 25rem;
        
    }
    
    .item-name{
        font-size: 3em;
        align-self: center;
        color: white;
    }

    .item-price{
        font-size: 2em;
        align-self: center;
        color: white;

    }
}


